* {
  animation: none;
  border-radius: 4;
  min-height: 0;
  font-family: CartographCF Light;
  font-weight: bold;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(25, 25, 25, 0); 
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: none;
  padding: 6px 12px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: rgba(25, 25, 25, 0);
  color: white;
}

#workspaces button.active {
  color: black;
  background-color: white
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: black;
  background-color: grey;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#mpris,
#memory,
#clock,
#disk,
#tray {
  animation: none;
  border-radius: 4px;
  margin: 6px 3px;
  padding: 0px 12px;
  background-color: rgba(25, 25, 25, 0);
  color: white;
}

tooltip {
  font-size: 13px;
  border-radius: 8px;
  padding: 15px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
}

tooltip label {
  font-size: 13px;
  padding: 5px;
  color: #FFFFFF;
  background-color: transparent;

}
