* {
  border-radius: 10px;
  font-family: Iosevka Comfy Wide Fixed;
  font-size: 15px;
}

window#waybar {
  border-radius: 10px;
  background-color: #121217;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 12px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #121217;
  color: white;
}

#workspaces button.active {
  color: black;
  background-color: white;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #000000;
  background-color: #666666;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#network,
#pulseaudio,
#bluetooth,
#mpris,
#memory,
#clock,
#disk,
#tray {
  border-radius: 4px;
  margin: 6px 0px;
  padding: 6px 12px;
  background-color: #121217;
  color: white;
}

#mpris {
  background-color: #121217;
  color: white;
  animation: repeat;
  animation-name: blink;
  animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory {
  color: #FFFFFF;
}

#disk {
  color: #FFFFFF;
}

#clock {
  font-size: 14px;
}

tooltip {
  font-size: 14px;
  border-radius: 8px;
  padding: 15px;
  color:  #FFFFFF;
  background-color: #121217;

}

tooltip label {
  font-size: 14px;
  padding: 5px;
  color:  #FFFFFF;
  background-color: #121217;
}
